*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-image: linear-gradient(-140deg, blue, lightblue 0%, blue);
  color: #ccc;
}

#canvas {
  outline: 1px solid black;
  position: absolute;
  top: 100px;
  left: 100px;
}
